#root {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-size: 1.125rem;
}

li {
  list-style: none;
  cursor: pointer;
}

li:hover {
  color: rgba(255, 255, 255, 0.87);
}

main {
  width: 100%;
  min-height: 520px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "a b c d"
    "a e f g";
  gap: 2rem;
}

.profile-container {
  border-radius: 1rem;
  grid-area: a;
  background: var(--blue-dark);

  text-align: left;
}

.profile-container-top {
  height: 68%;
  border-radius: 1rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  background: var(--blue-primary);
}

.profile-container-top-info {
  padding-bottom: 3.1rem;
  font-weight: 300;
}

.profile-container-top-info p {
  color: var(--blue-pale);
}

.profile-container-top-info h1 {
  font-weight: 300;
  font-size: 2.5rem;
}

.profile-container-top img {
  width: 45%;
  border: 3px solid #fff;
  border-radius: 50%;
}

.profile-container-bot {
  width: 100%;
  height: 32%;
  padding: 2rem;
}
.timeframe-toggler {
  height: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;

  font-size: 1.125rem;
  color: var(--blue-desaturated);
}

.timeframe-selected {
  color: rgba(255, 255, 255, 0.87);
}

.attribution {
  margin: 0.75rem 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: #535bf2;
}

@media (max-width: 375px) {
  main {
    display: flex;
    flex-direction: column;
    padding: 4rem 1.5rem;
    
  }

  .profile-container-top {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .profile-container-top img {
    width: 25%;
  }

  .profile-container-top-info {
    padding-bottom: 0;
  }

  .profile-container-top-info h1 {
    font-size: 1.5rem;
  }

  .profile-container-bot {
    padding: 1.5rem 2rem;
  }

  .timeframe-toggler {
    flex-direction: row;
  }
}
